.profile__avatar {
  padding-top: 38.25px;
  display: flex;
  width: 168.75px;
  height: 127.5px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .profile__avatar {
    padding-top: 0;
    margin: 0;
  }
}
