.elements {
  padding-top: 36px;
  display: grid;
  justify-content: center;
  row-gap: 12px;
}

@media screen and (min-width: 1280px) {
  .elements {
    row-gap: 20px;
    column-gap: 17px;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: 361px;
  }
}
