.elements {
  padding: 36px 0 0 0;
  display: grid;
  justify-content: center;
  row-gap: 12px;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .elements {
    row-gap: 20px;
    column-gap: 17px;
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: 361px;
  }
}
@media screen and (min-width: 1280px) {
  .elements {
    grid-template-columns: repeat(3, 282px);
  }
}
