.elements__button {
  background-image: url(../../images/Лайк.svg);

  cursor: pointer;
  background-repeat: no-repeat;

  padding-left: 5px;
  margin: 0;

  width: 22px;
  min-height: 18px;
}

.elements__button:hover {
  opacity: 0.5;
}

.elements__button:active {
  background-image: url(../../images/Union.svg);
  opacity: 1;
}
