.overlay__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: auto;
  padding-top: 14px;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .overlay__text {
    font-size: 18px;
    line-height: 22px;
  }
}
