.overlay__popupClose {
  position: absolute;
  top: -43px;
  right: 0;
  width: 30px;
  height: 30px;
  background-image: url(../../images/Close\ Icon.svg);

  margin: 0;
  cursor: pointer;
  background-size: cover;
}

.overlay__popupClose:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1280px) {
  .overlay__popupClose {
    width: 40px;
    height: 40px;
    right: -32.28px;
    top: -32.28px;
  }
}
