.popup-card__form {
  width: 238px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  color: #000000;
  border: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .popup-card__form {
    width: 358px;
  }
}
