.profile__info {
  position: relative;
  width: 282px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 22.25px;
}

@media screen and (min-width: 1280px) {
  .profile__info {
    width: 336px;
    height: 73px;
    padding-top: 22px;
    margin: 0;
    padding-left: 28.125px;
  }
}
