.popup-preview {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: (0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  text-align: center;
  padding: 86px 40px 0px 40px;
  align-items: flex-start;
}
